# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
.rbx/
xcuserdata
project.xcworkspace
DerivedData
/concatenated.*

# Yardoc
.yardoc
/doc

# Specs
tmp
spec/fixtures/banana-lib
spec/fixtures/chameleon
spec/fixtures/integration/Headers/
spec/fixtures/vcr
spec/fixtures/cache

# Examples
examples/**/Podfile.lock
examples/Pods
examples/**/Pods
examples/RelativePathProject/RelativePathProject/RelativePathProject.xcodeproj
coverage/
.coveralls.yml

# IDEs
*.xccheckout
.idea/

# RVM files
/.rvmrc
/.ruby-version
/.ruby-gemset

# Bundler files
/.bundle
