[submodule "spec/fixtures/integration/JSONKit"]
	path = spec/fixtures/integration/JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "spec/fixtures/integration/Reachability"]
	path = spec/fixtures/integration/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "spec/cocoapods-integration-specs"]
	path = spec/cocoapods-integration-specs
	url = https://github.com/CocoaPods/cocoapods-integration-specs.git
[submodule "spec/fixtures/spec-repos/test_repo"]
	path = spec/fixtures/spec-repos/test_repo
	url = https://github.com/CocoaPods/cocoapods-test-specs.git
