*.swp
*.swo
*.rbo
*.gem
.DS_Store
xcuserdata
project.xcworkspace
DerivedData
tmp
examples/Podfile
examples/Pods
examples/**/Pods
spec/fixtures/banana-lib
pod
/concatenated.*
spec/fixtures/mercurial-repo/.hg/cache