---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/CocoaPods/Specs/contents/Specs?ref=json_podspecs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1387552555'
      Last-Modified:
      - Fri, 20 Dec 2013 14:18:43 GMT
      Etag:
      - '"a1e2c9ea0d0cd1507820e41d7f7af954"'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '[{"name":"500px-iOS-api","path":"Specs/500px-iOS-api","sha":"a2f8dc99d77c0430e98c1b608d351b960a9b4079","size":0,"url":"https://api.github.com/repos/CocoaPods/Specs/contents/Specs/500px-iOS-api?ref=json_podspecs","html_url":"https://github.com/CocoaPods/Specs/tree/json_podspecs/Specs/500px-iOS-api","git_url":"https://api.github.com/repos/CocoaPods/Specs/git/trees/a2f8dc99d77c0430e98c1b608d351b960a9b4079","type":"dir","_links":{"self":"https://api.github.com/repos/CocoaPods/Specs/contents/Specs/500px-iOS-api?ref=json_podspecs","git":"https://api.github.com/repos/CocoaPods/Specs/git/trees/a2f8dc99d77c0430e98c1b608d351b960a9b4079","html":"https://github.com/CocoaPods/Specs/tree/json_podspecs/Specs/500px-iOS-api"}},{"name":"A2DynamicDelegate","path":"Specs/A2DynamicDelegate","sha":"9f6cf40cca880069fc2f5222ff47b8addc87d1ee","size":0,"url":"https://api.github.com/repos/CocoaPods/Specs/contents/Specs/A2DynamicDelegate?ref=json_podspecs","html_url":"https://github.com/CocoaPods/Specs/tree/json_podspecs/Specs/A2DynamicDelegate","git_url":"https://api.github.com/repos/CocoaPods/Specs/git/trees/9f6cf40cca880069fc2f5222ff47b8addc87d1ee",[...]
